<!DOCTYPE html>
<html lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>注册 - </title>
<!--[if lt IE 9]>
<script src="/static/js/html5shiv.js"></script>
<![endif]-->
<link href="/static/css/normalize.css" rel="stylesheet"/>
<link href="/static/css/jquery-ui.css" rel="stylesheet"/>
<link href="/static/css/jquery.idealforms.min.css" rel="stylesheet" media="screen"/>
<style type="text/css">
body{font:normal 15px/1.5 Arial, Helvetica, Free Sans, sans-serif;color: #222;background:url(/static/images/pattern.png);overflow-y:scroll;padding:60px 0 0 0;}
#my-form{width:755px;margin:0 auto;border:1px solid #ccc;padding:3em;border-radius:3px;box-shadow:0 0 2px rgba(0,0,0,.2);}
#comments{width:350px;height:100px;}
</style>
</head>
<body>
<div class="row">
  <div class="eightcol last">
    <!-- Begin Form -->
    <form id="my-form">
      <section name="第一步">
          <div><label for="username">用户名:</label><input id="username" name="username" type="text"/></div>
          <div><label for="pass">密码:</label><input id="pass" name="password" type="password"/></div>
          <div><label for="email">邮箱:</label><input id="email" name="email" data-ideal="required email" type="email"/></div>
          <div><label for="name">真实姓名:</label><input id="name" name="name" type="text"/></div>
          <div><label for="sex">性别:</label><input id="sex" name="sex" type="text" /></div>
          <div><label for="date">出生日期:</label><input id="date" name="date" class="datepicker" data-ideal="date" type="text" placeholder="月/日/年"/></div>
      </section>

      <section name="第二步">
          <div><label for="job_number">工号:</label><input id="job_number" name="job_number" type="text"/></div>
          <div><label>职位:</label><input id="position" name="position" type="text" /></div>
          <div><label>部门:</label><input id="department" name="department" type="text"/></div>
          <div><label for="number">电话号码:</label><input id="number" name="phone_number" type="text" /></div>
          <div><label>上传头像:</label><input id="file" name="file" multiple type="file"/></div>
      </section>

      <div><hr/></div>
      <div>
        <button type="submit">提交</button>
        <button id="reset" type="button">重置</button>
      </div>
    </form>
    <!-- End Form -->
  </div>

</div>

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.idealforms.js"></script>
<script type="text/javascript">
var options = {

	onFail: function(){
		alert( $myform.getInvalid().length +' invalid fields.' )
	},

	inputs: {
		'password': {
			filters: 'required pass'
		},
		'username': {
			filters: 'required username',
			data: {
			//ajax: { url:'validate.php' }
			}
		},
		'file': {
			filters: 'extension',
			data: { extension: ['jpg'] }
		},
	}

};

var $myform = $('#my-form').idealforms(options).data('idealforms');

$('#reset').click(function(){
	$myform.reset().fresh().focusFirst()
});

$myform.focusFirst();
</script>
</body>
</html>